{% extends 'base.html' %}

{% block content %}
    <table class=" table table-bordered table-hover ">
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Daily Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %} <!-- Iterate over all movies stored in DB. -->
        <tr>
            <!-- Rendering values. -->
            <td>
                <a href="{% url 'movies:detail' movie.id %}"> {{ movie.title }}</a> <!-- Add a link to each movie to get the id of the movie dynamically. -->
            </td>
            <td>{{ movie.genre }}</td>
            <td>{{movie.number_in_stock }}</td>
            <td>{{ movie.daily_rate }}</td>
        </tr>
        {% endfor %} <!--End iteration.-->
        </tbody>
    </table>

{% endblock %}